<div class="row">
    <!-- counter-card-1 start-->
   
    <!-- counter-card-1 end-->

    <!-- counter-card-2 start -->
    <div class="col-md-6 col-xl-4">
        <app-card [cardClass]="'counter-card-2'" [blockClass]="'card-body-big'">
            <div class="row">
                <div class="col-6 counter-card-icon">
                    <i class="icofont icofont-chart-line-alt"></i>
                </div>
                <div class="col-6 text-right">
                    <div class="counter-card-text">
                        <h3>{{ totalA }}</h3>
                        <p>Total Oflline Appointment</p>
                    </div>
                </div>
            </div>
        </app-card>
    </div>
    <!-- counter-card-2 end -->

    <!-- counter-card-3 start -->
    <div class="col-md-6 col-xl-4">
        <app-card [cardClass]="'counter-card-3'" [blockClass]="'card-body-big'">
            <div class="row">
                <div class="col-6 counter-card-icon">
                    <i class="icofont icofont-chart-line"></i>
                </div>
                <div class="col-6 text-right">
                    <div class="counter-card-text">
                        <h3>{{ totalO }}</h3>
                        <p>Total Online Appointment</p>
                    </div>
                </div>
            </div>
        </app-card>
    </div>
    <!-- counter-card-3 end -->

    <!-- Start-->

    <!-- End-->

    <!-- Product table Start -->

    <!-- Product table End -->

    <!-- facebook Start -->

    <!-- Reset Order End -->
</div>