<section class="login p-fixed d-flex text-center" style="background-image: url('assets/images/eclinicsystems-banner.jpg');background-size: cover;">
    <ng2-toasty [position]="position"></ng2-toasty>
    <div class="auth-fluid" style="background-color:rgb(195, 195, 240)">
        <div class="row">
            <div class="col-sm-12">
                <div class="login-card card-body auth-body">
                    <div class="text-center">
                        <img src="assets/images/logo1.png" alt="logo.png" height="125px" width="350px">
                    </div>
                    <div class="auth-box">
                        <div class="row m-b-20">
                            <div class="col-md-12">
                                <h3 class="text-left txt-primary">Doctor's Login</h3>
                            </div>
                        </div>
                        <hr/>
                        <form class="md-float-material" [formGroup]="loginfrm" name="userForm">
                            <div class="input-group">
                                <!-- <input type="email" class="form-control" placeholder="Your Email Address"> -->
                                <input class="form-control" formControlName="mobileNo" placeholder="Your User Name" [ngClass]="{'is-invalid': isSubmitted && f.mobileNo.errors}" />
                                <div *ngIf="isSubmitted && f.mobileNo.errors" class="invalid-feedback">
                                    <div *ngIf="f.mobileNo.errors.required">Please Enter Your User Name</div>
                                </div>
                                <span class="md-line"></span>
                            </div>
                            <div class="input-group">
                                <!-- <input type="password" class="form-control" placeholder="Password"> -->
                                <input class="form-control" type="password" formControlName="password" placeholder="Password" ng-minlength="8" [ngClass]="{'is-invalid': isSubmitted && f.password.errors}" />
                                <div *ngIf="isSubmitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">Enter Your Password</div>
                                    
                                    <span ng-show="userForm.password.$dirty &amp;&amp; userForm.password.$error.minLength" class="text-danger">Please use a password of at least 8 characters</span>
                                </div>
                                <span class="md-line"></span>
                            </div>
                            <div class="row m-t-25 text-left">
                                <div class="col-sm-7 col-xs-12">
                                    <div class="checkbox-fade fade-in-primary">
                                        <label>
                      <input type="checkbox" formControlName="remember">
                      <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                      <span class="text-inverse">Remember me</span>
                    </label>
                                    </div>
                                </div>
                                <div class="col-sm-5 col-xs-12 forgot-phone text-right">
                                    <a href="http://localhost:4300/forgotpass" target="_blank" class="text-right f-w-600 text-inverse"> Forgot Your Password?</a>
                                </div>
                            </div>
                            <div class="row m-t-30">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" (click)="onSubmit()">Sign in</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>