<ng2-toasty [position]="position"></ng2-toasty>
<div class="row">
	<div class="col-sm-12">
    <app-card [title]="'User Table'" [classHeader]="true" [blockClass]="'table-border-style'">
      <div class="table-responsive">
        <kendo-grid
        [kendoGridBinding]="gridData"
         [height]="450" 
         [columnMenu]="true"
         [pageSize]="50" 
         [resizable]="true"
         [pageable]="{buttonCount:5,pageSizes:[50,100,500,1000]}" 
         [filterable]="true"
         [sortable]="true">
            <ng-template kendoGridToolbarTemplate>
              <button type="button"  kendoGridExcelCommand icon="file-excel" *ngIf="gridData != ''">Save as CSV</button>
              <button class="btn btn-primary"  (click)="saveUser()"><i class="icofont icofont-pencil-alt-1"></i>Add User</button>
            </ng-template>
            <kendo-grid-column width="200" field="user_name" title="User Name"></kendo-grid-column>
            <kendo-grid-column width="200" field="user_total_site" title="Total Site"></kendo-grid-column>
            <kendo-grid-column width="200" field="create_date" title="created Date"></kendo-grid-column>
            <kendo-grid-column width="200" field="last_login" title="Last Login"></kendo-grid-column>
            <kendo-grid-command-column width="150" title="Actions">
                <ng-template kendoGridCellTemplate let-data>
                    <!-- <button  (click)="editCustomer(data.site_id)" class="btn-primary" >Edit</button> -->
                    <button  (click)="deleteUser(data.user_id)" class="btn" style="background-color:orangered;margin-left: 5px;padding: 0.1rem 0.5rem !important;color: white;" >Delete</button>
                </ng-template>
            </kendo-grid-command-column>
              <kendo-grid-excel fileName="user.xlsx" #excelexport>
               </kendo-grid-excel>
        </kendo-grid>
      </div>
    </app-card>
  </div>
  <div *ngIf="loading == true" class="k-i-loading"></div>
</div>

        <!-- Add New User -->
        <div class="modal" tabindex="-500px" role="dialog" style="margin-top: -20px;" [ngStyle]="{'display':display}">
           <div class="modal-dialog" role="document">
             <div class="modal-content">
            <div class="modal-header bg-primary">
              <h6 class="modal-title">Add New User</h6>
                 <button type="button" class="close" style="color: white;" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
            </div>
               <div class="modal-body" style="overflow: auto; max-height: 350px;">
      
              <form [formGroup]="userAddEdit" (ngSubmit)="onSubmit()">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">User Name<span>*</span></label>
                  <div class="col-sm-7">
                    <input kendoTextBox class="form-control" formControlName="username" placeholder="Enter User Name" [ngClass]="{'is-invalid': isSubmitted && f.username.errors}"/>
                    <div *ngIf="isSubmitted && f.username.errors" class="invalid-feedback">
                     <div *ngIf="f.username.errors.required">This field is required</div>
                   </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Email Id<span>*</span></label>
                  <div class="col-sm-7">
                    <input kendoTextBox class="form-control" formControlName="email" placeholder="Enter Email Id" [ngClass]="{'is-invalid': isSubmitted && f.email.errors}"/>
                    <div *ngIf="isSubmitted && f.email.errors" class="invalid-feedback">
                     <div *ngIf="f.email.errors.required">This field is required</div>
                   </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Password<span>*</span></label>
                  <div class="col-sm-7">
                    <input kendoTextBox class="form-control" formControlName="password" placeholder="Enter User Password" [ngClass]="{'is-invalid': isSubmitted && f.password.errors}"/>
                    <div *ngIf="isSubmitted && f.password.errors" class="invalid-feedback">
                     <div *ngIf="f.password.errors.required">This field is required</div>
                   </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Mobile No<span>*</span></label>
                  <div class="col-sm-7">
                    <input kendoTextBox class="form-control" formControlName="mobilenumber" placeholder="Enter User Mobile Number" [ngClass]="{'is-invalid': isSubmitted && f.mobilenumber.errors}"/>
                    <div *ngIf="isSubmitted && f.mobilenumber.errors" class="invalid-feedback">
                     <div *ngIf="f.mobilenumber.errors.required">This field is required</div>
                   </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Address<span>*</span></label>
                  <div class="col-sm-7">
                    <textarea kendoTextBox class="form-control" formControlName="address" placeholder="Enter User Address" [ngClass]="{'is-invalid': isSubmitted && f.address.errors}"></textarea>
                    <div *ngIf="isSubmitted && f.address.errors" class="invalid-feedback">
                     <div *ngIf="f.address.errors.required">This field is required</div>
                   </div>
                  </div>
                </div>
          </form>
            </div>
               <div class="modal-footer" style="height:38px;">
                 <button type="button" class="btn btn-primary space"  (click)="onSubmit()" >Submit</button>
                 <button type="button" class="btn btn-default space" (click)="onCloseHandled()" >Cancel</button>
               </div>
             </div><!-- /.modal-content -->
           </div><!-- /.modal-dialog -->
          </div><!-- /.modal !-->