<ng2-toasty [position]="position"></ng2-toasty>
<div class="row" *ngIf="display == 'none' ">
    <div class="col-sm-12">
        <app-card [title]="'Patient Table'" [classHeader]="true" [blockClass]="'table-border-style'">
            <div class="table-responsive">
                <kendo-grid [kendoGridBinding]="gridData" [height]="450" [columnMenu]="true" [pageSize]="50" [resizable]="true" [pageable]="{buttonCount:5,pageSizes:[50,100,500,1000]}" [filterable]="true" [sortable]="true">
                    <ng-template kendoGridToolbarTemplate>
                        <button type="button" kendoGridExcelCommand icon="file-excel" *ngIf="gridData != ''">Save as CSV</button>
                        <button class="btn btn-primary" (click)="savePatient()"><i class="icofont icofont-pencil-alt-1"></i>Add Patient Details</button>
                    </ng-template>
                    <kendo-grid-column width="100" field="id" title="Id"></kendo-grid-column>
                    <kendo-grid-column width="150" field="fname" title="First Name"></kendo-grid-column>
                    <kendo-grid-column width="200" field="lname" title="Last Name"></kendo-grid-column>
                    <kendo-grid-column width="200" field="gender" title="Gender"></kendo-grid-column>
                    <kendo-grid-column width="200" field="email_id" title="Email-Id"></kendo-grid-column>
                    <kendo-grid-column width="200" field="address" title="Address"></kendo-grid-column>
                    <kendo-grid-column width="200" field="contact_no" title="Contact NO"></kendo-grid-column>
                    <kendo-grid-column width="200" field="dob" title="Date Of Birth"></kendo-grid-column>
                    <kendo-grid-column width="200" field="login_id" title="Login-Id"></kendo-grid-column>
                    <kendo-grid-column width="200" field="password" title="Password"></kendo-grid-column>
                    <kendo-grid-column width="200" field="photo" title="Photo"></kendo-grid-column>
                    <!-- <kendo-grid-column width="200" field="productCategory" title="Product Category"></kendo-grid-column>
            <kendo-grid-column width="200" field="subCategory" title="Sub Category"></kendo-grid-column>
            <kendo-grid-column width="200" field="hsnCode" title="HSN Code"></kendo-grid-column>
            <kendo-grid-column width="200" field="country" title="Country"></kendo-grid-column>
            <kendo-grid-column width="200" field="positionCategory" title="Position Category"></kendo-grid-column>
            <kendo-grid-column width="200" field="departmentCategory" title="Department Category"></kendo-grid-column>
            <kendo-grid-column width="200" field="courierCompanyName" title="Courier ComapanyName"></kendo-grid-column>
            <kendo-grid-column width="200" field="Warehouse" title="WareHouse"></kendo-grid-column>
            <kendo-grid-column width="200" field="ffAccount" title="FF Account"></kendo-grid-column>
            <kendo-grid-column width="200" field="tax" title="Tax"></kendo-grid-column>
            <kendo-grid-column width="200" field="taxPercentage" title="Tax Percentage"></kendo-grid-column>
            <kendo-grid-column width="200" field="groupOfCompany" title="Group Of Company"></kendo-grid-column>-->
                    <kendo-grid-column width="200" field="createdAt" title="CreatedAt">
                        <ng-template kendoGridCellTemplate let-data>
                            <span>{{data.createdAt| date:'dd/MM/yyyy'}}</span>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column width="200" field="updatedAt" title="UpdatedAt">
                        <ng-template kendoGridCellTemplate let-data>
                            <span>{{data.updatedAt| date:'dd/MM/yyyy'}}</span>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-command-column width="150" title="Actions">
                        <ng-template kendoGridCellTemplate let-data>
                            <button (click)="editPatient(data.id)" class="btn-primary">Edit</button>
                            <button (click)="tempPatient(data.id)" class="btn" style="background-color:salmon;margin-left: 5px;padding: 0.1rem 0.5rem !important;color: white;">Suspend</button>
                            <button (click)="regPatient(data.id)" class="btn" style="background-color:cadetblue;margin-left: 5px;padding: 0.1rem 0.5rem !important;color: white;">Regain</button>
                            <button (click)="deletePatient(data.id)" class="btn" style="background-color:orangered;margin-left: 5px;padding: 0.1rem 0.5rem !important;color: white;">Del</button>
                        </ng-template>
                    </kendo-grid-command-column>
                    <!-- <ng-template kendoGridDetailTemplate let-dataItem>
              <section *ngIf="dataItem" class="row">
                  <div class="col-md-3"><strong>Patient Id :-</strong> {{dataItem.Patient_id}}</div>
                  <div class="col-md-3"><strong>Name :-</strong> {{dataItem.Patient_name}}</div>
                  <div class="col-md-3"><strong>Company :-</strong> {{dataItem.company_name}}</div>
                  <div class="col-md-5"><strong>Landmark :-</strong> {{dataItem.landmark}}</div>
                  <div class="col-md-3"><strong>Phone No :-</strong> {{dataItem.phone}}</div>
                  <div class="col-md-3"><strong>Landline :-</strong> {{dataItem.landline}}</div>
                  <div class="col-md-3"><strong>Whatsapp :-</strong> {{dataItem.whatsapp}}</div>
                  <div class="col-md-3"><strong>Industry :-</strong> {{dataItem.industry_cat}}</div>
                  <div class="col-md-3"><strong>Territory :-</strong> {{dataItem.territory_cat}}</div>
                  <div class="col-md-3"><strong>Email Id :-</strong> {{dataItem.email1}}</div>
                  <div class="col-md-3"><strong>Status :-</strong>  
                   <span style="color: red;" *ngIf="dataItem.Patient_status == 0">Pending</span>
                    <span style="color: green;" *ngIf="dataItem.Patient_status == 1">Active</span></div>
                    <div class="col-md-5"><strong>Address :-</strong> {{dataItem.address}}</div>
              </section>
              </ng-template> -->
                    <kendo-grid-excel fileName="Patient.xlsx" #excelexport>
                    </kendo-grid-excel>
                </kendo-grid>
            </div>
        </app-card>
    </div>
    <div *ngIf="loading == true" class="k-i-loading"></div>
</div>

<div class="row" *ngIf="display == 'block' ">
    <div class="col-sm-12">
        <app-card [title]="'Patient Details'">
            <form [formGroup]="PatientAddEdit">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">First Name<span style="color: red;font-size: large;"> *</span></label>
                    <div class="col-sm-4">
                        <input kendoTextBox class="form-control" formControlName="fname" placeholder="Enter First Name" [ngClass]="{'is-invalid': isSubmitted && f.fname.errors}" />
                        <div *ngIf="isSubmitted && f.orderStatus.errors" class="invalid-feedback">
                            <div *ngIf="f.fname.errors.required">This field is required</div>
                        </div>
                    </div>

                    <label class="col-sm-2 col-form-label">Last Name<span style="color: red;font-size: large;"> *</span></label>
                    <div class="col-sm-4">
                        <input kendoTextBox class="form-control" formControlName="lname" placeholder="Enter Last Name" [ngClass]="{'is-invalid': isSubmitted && f.lname.errors}" />
                        <div *ngIf="isSubmitted && f.PatientType.errors" class="invalid-feedback">
                            <div *ngIf="f.lname.errors.required">This field is required</div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Gender<span style="color: red;font-size: large;"> *</span></label>
                    <div class="col-sm-4">
                        <input kendoTextBox class="form-control" formControlName="gender" placeholder="Enter Gender" [ngClass]="{'is-invalid': isSubmitted && f.gender.errors}" />
                        <div *ngIf="isSubmitted && f.paymentTerms.errors" class="invalid-feedback">
                            <div *ngIf="f.gender.errors.required">This field is required</div>
                        </div>
                    </div>

                    <label class="col-sm-2 col-form-label">Email-Id<span style="color: red;font-size: large;"> *</span></label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" formControlName="email_id" placeholder="Enter Email-Id" [ngClass]="{'is-invalid': isSubmitted && f.email_id.errors}" />
                        <div *ngIf="isSubmitted && f.delivertyTerms.errors" class="invalid-feedback">
                            <div *ngIf="f.email_id.errors.required">This field is required</div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Address<span style="color: red;font-size: large;"> *</span></label>
                    <div class="col-sm-4">
                        <input kendoTextBox class="form-control" formControlName="address" placeholder="Enter Address" [ngClass]="{'is-invalid': isSubmitted && f.address.errors}" />
                        <div *ngIf="isSubmitted && f.ceurrency.errors" class="invalid-feedback">
                            <div *ngIf="f.address.errors.required">This field is required</div>
                        </div>
                    </div>

                    <label class="col-sm-2 col-form-label">Contact No<span style="color: red;font-size: large;"> *</span></label>
                    <div class="col-sm-4">
                        <input kendoTextBox class="form-control" formControlName="contact_no" placeholder="Enter Contact Number" [ngClass]="{'is-invalid': isSubmitted && f.contact_no.errors}" />
                        <div *ngIf="isSubmitted && f.region.errors" class="invalid-feedback">
                            <div *ngIf="f.contact_no.errors.required">This field is required</div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Date of Birth<span style="color: red;font-size: large;"> *</span></label>
                    <div class="col-sm-4">
                        <input kendoTextBox class="form-control" formControlName="dob" placeholder="Enter Date of Birth" [ngClass]="{'is-invalid': isSubmitted && f.dob.errors}" />
                        <div *ngIf="isSubmitted && f.packaging.errors" class="invalid-feedback">
                            <div *ngIf="f.dob.errors.required">This field is required</div>
                        </div>
                    </div>

                    <label class="col-sm-2 col-form-label">Login Id<span style="color: red;font-size: large;"> *</span></label>
                    <div class="col-sm-4">
                        <input kendoTextBox class="form-control" formControlName="login_id" placeholder="Enter Login Id" [ngClass]="{'is-invalid': isSubmitted && f.login_id.errors}" />
                        <div *ngIf="isSubmitted && f.partsStatus.errors" class="invalid-feedback">
                            <div *ngIf="f.login_id.errors.required">This field is required</div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Password<span style="color: red;font-size: large;"> *</span></label>
                    <div class="col-sm-4">
                        <input kendoTextBox class="form-control" formControlName="password" placeholder="Enter Password" [ngClass]="{'is-invalid': isSubmitted && f.password.errors}" />
                        <div *ngIf="isSubmitted && f.uom.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">This field is required</div>
                        </div>
                    </div>
                    <label class="col-sm-2 col-form-label">Photo<span style="color: red;font-size: large;"> *</span></label>
                    <div class="col-sm-4">
                        <input kendoTextBox class="form-control" formControlName="photo" placeholder="Upload Photo" [ngClass]="{'is-invalid': isSubmitted && f.photo.errors}" />
                        <div *ngIf="isSubmitted && f.groupOfCompany.errors" class="invalid-feedback">
                            <div *ngIf="f.photo.errors.required">This field is required</div>
                        </div>
                    </div>
                </div>

            </form>
            <hr style="width:100%">
            <button class="btn btn-primary" (click)="onSubmit()"><i class="icofont icofont-eye"></i>Save</button>
            <button class="btn btn-default btn-outline-default" style="margin-left:5px" (click)="onCloseHandled()">Close</button>
        </app-card>
    </div>
</div>