<ng2-toasty [position]="position"></ng2-toasty>
<div class="row">
  <div class="col-md-12 col-xl-12">
    <app-card>
      <form>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Select State<span>*</span></label>
          <label class="col-sm-4 col-form-label">Select District<span>*</span></label>
          <label class="col-sm-4 col-form-label">Select DeviceId<span>*</span></label>
          <!-- <label class="col-sm-3 col-form-label">Select Date<span>*</span></label> -->
        </div>
        <!-- <hr style="width:100%"> -->
        <div class="form-group row">
          <div class="col-sm-4">
              <kendo-dropdownlist
              [data]="allstate"
              name='state'
              [(ngModel)]="state_id"
              [textField]="'state'"
              [valueField]="'state'"
              (valueChange)='onChangeState()'
              required
          >
          </kendo-dropdownlist>
          </div>
          <div class="col-sm-4">
              <kendo-dropdownlist
              [data]="alldist"
              name='dist'
              [(ngModel)]="dist_id"
              [textField]="'district'"
              [valueField]="'district'"
              (valueChange)='onChangeDistrict()'
              required
          >
          </kendo-dropdownlist>
          </div>
          <div class="col-sm-4">
            <kendo-dropdownlist
              [data]="alldevice"
              name='device'
              [(ngModel)]="device_id"
              [textField]="'device_id'"
              [valueField]="'device_id'"
              (valueChange)='onSubmit()'
              required
          >
          </kendo-dropdownlist>
          </div>
          <!-- <div class="col-sm-3">
            <kendo-datepicker
                 [(value)]="value"
                 (valueChange)="onSubmit()">
             </kendo-datepicker>
          </div> -->
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Start Date<span>*</span></label>
          <label class="col-sm-4 col-form-label">End Date<span>*</span></label>
        </div>
        <div class="form-group row">
          <div class="col-sm-4">
            <kendo-datepicker
                 [(value)]="value">
             </kendo-datepicker>
          </div>
          <div class="col-sm-4">
            <kendo-datepicker
                 [(value)]="value1">
             </kendo-datepicker>
          </div>
        </div>
       </form>
       <hr width="100%">
       <div class="col-sm-1">
        <button class="btn space btn-primary" (click)="onSubmit()"><i class="icofont icofont-eye"></i>Show</button>
     </div>
  </app-card>
 </div>

 
 <div class="col-md-12 col-xl-12">
<app-card [title]="'Summary Data'" [classHeader]="true" [blockClass]="'table-border-style'">
    <div class="table-responsive">
      <kendo-grid
      [kendoGridBinding]="gridData"
       [height]="400" 
       [columnMenu]="true"
       [pageSize]="50" 
       [resizable]="true"
       [pageable]="{buttonCount:5,pageSizes:[50,100,500,1000]}" 
       [filterable]="true"
       [sortable]="true">
       <ng-template kendoGridToolbarTemplate>
        <button type="button"  kendoGridExcelCommand icon="file-excel" *ngIf="gridData != ''">Save as CSV</button>
      </ng-template>
          <kendo-grid-column width="200" field="Concern_person_name" title="Concern Person"></kendo-grid-column>
          <kendo-grid-column width="200" field="Name_of_block" title="Name Of Block"></kendo-grid-column>
          <kendo-grid-column width="200" field="Gram_panchayat" title="Gram Panchayat"></kendo-grid-column>
          <kendo-grid-column width="200" field="Name_of_village" title="Village"></kendo-grid-column>
          <kendo-grid-column width="200" field="Site_name" title="Site Name"></kendo-grid-column>
          <kendo-grid-column width="200" field="Population" title="Population"></kendo-grid-column>
          <kendo-grid-column width="200" field="Site_unique_id" title="Site Unique Id"></kendo-grid-column>
          <kendo-grid-column width="200" field="total_energy" title="Total Energy"></kendo-grid-column>
          <kendo-grid-column width="200" field="total_flow" title="Total Flow"></kendo-grid-column>
            <kendo-grid-excel fileName="summarydata.xlsx" #excelexport></kendo-grid-excel>
      </kendo-grid>
    </div>
  </app-card>
</div>